p{}
h1{
	font-family: arial, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: red;
}






#container {

	height: 920px;
	width: 1000px;
}

#leftcollumn {

	height: 920px;
	width: 250px;
	background-color: #5F605F;
	float: left;

}

#rightcollumn {

	height: 920px;
	width: 250px;
	background-color: #5F605F;
	float: left;
}

#centercollumn {
    display: block; 
	height: 920px;
	width: 319px;
	background-color: #F7F0DE;
	float: left;
}

#Ltanheadings {
  color: #F7F0DE;
  font:;
  font-family: 'Courier New', monospace;
  font-size: 45px;
  text-align: center;
  margin-top: 310px;
  text-decoration: underline;
  text-decoration-color: tan;
}
 


#Rtanheadings {
  color: #F7F0DE;
  font-family: 'Courier New', monospace;
  font-size: 32px;
  text-align: center;
  margin-top: 310px;
  text-decoration: underline;
  text-decoration-color: tan;
}
 

.tansubhead {
	color: #F7F0DE ;
	font-family: 'Courier New', monospace;
	font:;
	font-size: 20px;
	text-align: center;

}

.greyheadingtop {
	color: #5F605F;
	font-family: 'Courier New', monospace;
	font:;
	font-size: 35px;
	text-align: center;
	text-decoration: underline;
	text-decoration-color: grey;

}



.greyheadingbottom {
	color: #5F605F;
	font-family: 'Courier New', monospace;
	font:;
	font-size: 35px;
	text-align: center;
	text-decoration: underline;
	text-decoration-color: grey;
	margin-top: 45px;

}
.topgreysubhead {
	color: #5F605F;
	font-family: 'Courier New', monospace;
	font:;
	font-size: 20px;
	text-align: center;

}

#bottomgreysubhead {
	color: #5F605F;
	font-family: 'Courier New', monospace;
	font:;
	font-size: 18px;
	text-align: center;
}


#redrec {
	height: 190px;
	width: 230px;
	background-color: #B95753;
	margin-left: auto;
	margin-right: auto;
	padding-top: 40px;
	margin-top:70px;
	 
	 
}

#minitanrec {
	height: 150px;
	width: 150px;
	background-color: #F7F0DE;
    margin-left: auto;
	margin-right: auto;

}

.greyheadingctr {
	color: #5F605F;
	font-family: 'Courier New', monospace;
	font:;
	font-size: 20px;
	text-align: center;
	margin-top: 45px;
	float: left;
	
}

a:link {
	text-decoration: none;
	color: none;
}

a:visited {
	text-decoration:none;
	color:none;
}

a:hover {
	text-decoration: underline;
	color:#B95753;
}

/*text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);*/




