
#container {
	width: 1400px;
	height: 800px;
	position: absolute;
	float:left;

}

#spincontainer {

	width:600px;
	height: 600px;
	float: left;
	position: absolute;
	top:15px;
	left:200px;
	transition-property: opacity;
	transition-duration: 1s;
	z-index: 3;
	opacity: 3;
	
}

#textcontainer {

	width:600px;
	height: 600px;
	background-color: white;
	position: absolute;
	top:15px;
	left:200px;
	z-index: 1;
	opacity: 1;
	
}

#spincontainer:hover{
 	opacity: 0;
} 



#bluetext1 {
	font-family: arial, sans-serif;
	font-size: 16px;
	color: #4285F4;
	position: relative;
	float: left;
}

#bluetext2 {
	font-family: arial, sans-serif;
	font-size: 16px;
	color: #4285F4;
	position: relative;
	float: left;
}

#redtext1 {
	font-family: arial, sans-serif;
	font-size: 16px;
	color: #EA4135;
	position: relative;

}

#redtext2 {
	font-family: arial, sans-serif;
	font-size: 16px;
	color: #EA4135;
	position: relative;

}

#orangetext {
	font-family: arial, sans-serif;
	font-size: 16px;
	color: #FABB06;
	position: relative;

}


#greentext {
	font-family: arial, sans-serif;
	font-size: 16px;
	color: #35A954;
	position: relative;

}

/*<h1 id ="redtext1"> Invoking memories of childhood birthday parties and summertime carnivals, Spin Art is one of the most cherished, yet often overlooked forms of art known to us all. </h1>
  	<h1 id = "greentext"> Made by pouring paint onto a canvas on a rotating platform, each work of Spin Art is as unique as it is simple. As the canvas spins, centrifugal force pulls the paint outwards, giving Spin Art its signature style. </h1>
  	<h1 id = "bluetext1"> The beauty of Spin Art is that the final design can only be revealed once the canvas has stopped moving. </h1>
  	<h1 id = "orangetext"> As the canvas slows to a stop, there is a guaranteed feeling of anticipation and surprise as to what will be revealed. </h1>
  	<h1 id = "redtext2"> Despite its colloquial association, Spin Art has secured its own niche in the fine arts world. Renowned artists such as Alfons Schilling, Annick Gendron, Damien Hirst, and Lawrence Stafford all have famous works completed using the Spin Art method of creation </h1>
  	<h1 id = "bluetext2"> which have gone on to adorn the halls of the Musee d’Art Moderne de la Ville de Paris, the Salon d’Automne, and the Whitney Museum of American Art. </h1>
