


#container {
	width: 1400px;
	height: 500px;
}


#backgroundrec {
	width: 1200px;
	height: 450px; 
	background-color: white; 
	position: relative;
	margin: auto;
	margin-top: 50px; 
 }


#Gcontainerspin {
	width: 250px;
	height: 250px;
	background-color: red;
	transition-property: opacity;
	transition-duration: .5s;
	position: absolute;
	left:45px; 
	top:100px;
	z-index: 3;
	opacity: 1;


}

#Gcontainerletter {
	width: 250px;
	height: 250px;
	background-color: red;
	transition-property: opacity;
	transition-duration: .75s;
	position: absolute;
	left:45px; 
	top:100px;
	z-index: 1;
	opacity: 1;
}

#Gcontainerspin:hover {
 	opacity: 0;
} 

#GContainerspin: hover + #Gcontainerletter {
	opacity: 1; 
}

#redocontainerspin{
	width:125px;
	height:125px;
	transition-property: opacity;
	transition-duration: .75s;
	position: absolute;
	top:225px;
	left:290px;
	z-index: 3;
	opacity:1;

}

#redocontainerletter{
	width:125px;
	height:125px;
	transition-property: opacity;
	transition-duration: .75s;
	position: absolute;
	top:225px;
	left:290px;
	z-index: 1;
	opacity: 1;

}

#redocontainerspin:hover {
 	opacity: 0;
} 

#redocontainerspin: hover + #redocontainerletter {
	opacity: 1; 
}

#orngcontainerspin{
	width:125px;
	height:125px;
	transition-property: opacity;
	transition-duration: .75s;
	position: absolute;
	top:225px;
	left:415px;
	z-index: 3;
	opacity:3;

}

#orngcontainerletter{
	width:125px;
	height:125px;
	transition-property: opacity;
	transition-duration: .75s;
	position: absolute;
	top:225px;
	left:415px;
	z-index: 1;
	opacity:1;

}

#orngcontainerspin:hover {
 	opacity: 0;
} 

#orngcontainerspin: hover + #orngcontainerletter {
	opacity: 1; 
}		

#littlegcontainerspin{
	width:150px;
	height:218px;
	transition-property: opacity;
	transition-duration: .75s;
	position: absolute;
	top:225px;
	left:540px;
	z-index: 3;
	opacity:3;

}

#littlegcontainerletter{
	width:150px;
	height:218px;
	transition-property: opacity;
	transition-duration: .75s;
	position: absolute;
	top:225px;
	left:540px;
	z-index: 1;
	opacity:1;

}

#littlegcontainerspin:hover {
 	opacity: 0;
} 

#littlegcontainerspin: hover + #littlegcontainerletter {
	opacity: 1; 
}		

#Lcontainerspin{
	width:114px;
	height:250px;
	transition-property: opacity;
	transition-duration: .75s;
	position: absolute;
	top:115px;
	left:685px;
	z-index: 3;
	opacity:3;

}

#Lcontainerletter{
	width:114px;
	height:250px;
	transition-property: opacity;
	transition-duration: .75s;
	position: absolute;
	top:115px;
	left:685px;
	z-index: 1;
	opacity:1;

}

#Lcontainerspin:hover {
 	opacity: 0;
} 

#Lcontainerspin: hover + #Lcontainerletter {
	opacity: 1; 
}		

#econtainerspin{
	width:125px;
	height:125px;
	transition-property: opacity;
	transition-duration: .75s;
	position: absolute;
	top:230px;
	left:750px;
	z-index: 3;
	opacity:3;

}

#econtainerletter{
	width:125px;
	height:125px;
	transition-property: opacity;
	transition-duration: .75s;
	position: absolute;
	top:230px;
	left:750px;
	z-index: 1;
	opacity:1;

}

#econtainerspin:hover {
 	opacity: 0;
} 

#econtainerspin: hover + #econtainerletter {
	opacity: 1; 
}		
